<html>
<head>
  <title>Index</title>
</head>

<body>
  <form method="get" action="">
    <table>
      <tr>
        <td><label for="name">Naam</label></td>
        <td><input type="text" name="name" /></td>
      </tr>
      <tr>
        <td><label for="exam">Examen</label></td>
        <td><input type="text" name="exam" /></td>
      </tr>
      <tr>
        <td><label for="date">Datum</label></td>
        <td><input type="text" name="date" /></td>
      </tr>
      <tr>
        <td><label for="reden">Reden</label></td>
        <td><input type="text" name="reden" /></td>
      </tr>
    </table>
    <input type="submit" value="Get joke!" />
  </form>
</body>
</html>
